.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  box-shadow: rgb(202, 201, 201) 3px 3px 3px;
}
